[submodule "dmlc-core"]
	path = 3rdparty/dmlc-core
	url = https://hub.fastgit.org/dmlc/dmlc-core
[submodule "dlpack"]
	path = 3rdparty/dlpack
	url = https://hub.fastgit.org/dmlc/dlpack
[submodule "3rdparty/rang"]
	path = 3rdparty/rang
	url = https://hub.fastgit.org/agauniyal/rang
[submodule "3rdparty/vta-hw"]
	path = 3rdparty/vta-hw
	url = https://hub.fastgit.org/apache/incubator-tvm-vta
[submodule "3rdparty/libbacktrace"]
	path = 3rdparty/libbacktrace
	url = https://hub.fastgit.org/tlc-pack/libbacktrace.git
